cachetools==5.3.3
click==8.1.7
faiss-cpu==1.8.0.post1
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-auth==2.31.0
google-generativeai==0.7.1
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-status==1.62.2
ipykernel==6.29.5
ipython==8.26.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.11
langchain-google-genai==1.0.7
langchain-text-splitters==0.2.2
markdown-it-py==3.0.0
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
prompt_toolkit==3.0.47
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.36.0
